.nalle {
    position: relative;
    height: 561px;
    width: 397px;
    border: 10px solid white;
    background-color: rgb(88, 122, 92);

    .nalle_part {
        position: absolute;
        bottom: -10px;
    }
}

.nalle_control {
    display: flex;
    flex-direction: row;
    padding: 100px 100px;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    button {
        width: 101%;
        height: 100%;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 5px;
        font-weight: bold;
        margin: 5px;
        cursor: pointer;
        background-color: white;
        &:hover {
            background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
        }
    }
}